@model AplikacjaTrenowania.Models.Trening

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Trening</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-route-id="@Model.IdTreningu" asp-action="Edit" onsubmit="return mniejNizJedeeeeeeeen()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" readonly />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Godzina" class="control-label"></label>
                <input asp-for="Godzina" class="form-control" readonly />
                <span asp-validation-for="Godzina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefinicjaTreningu.RodzajTreningu" class="control-label"></label>
                <select id="rodzajTreningu" asp-for="DefinicjaTreningu.RodzajTreningu" class="form-control" required>
                    <option value="" disabled selected>Wybierz rodzaj treningu</option>
                    @foreach (var rodzaj in ViewBag.Cwiczenia.Keys)
                    {
                        <option value="@rodzaj">@rodzaj</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DefinicjaTreningu.WybierzCwiczenie" class="control-label"></label>
                <select id="wybierzCwiczenie" asp-for="DefinicjaTreningu.WybierzCwiczenie" class="form-control" required>
                    <option value="" disabled selected>Wybierz ćwiczenie</option>
                    @foreach (var item in ViewBag.Cwiczenia)
                    {
                        @foreach (var cwiczenie in item.Value)
                        {
                            <option data-cwiczenie="@item.Key" hidden>@cwiczenie</option>
                        }
                    }
                </select>
            </div>
            <div id="form-group-seria">
                @if(Model.Serie.Count()>0){
					for (int i = 0; i < Model.Serie.Count(); i++)
                    {
                        <div class="row seria-row">
                            <div class="seryjka">
                                <input type="number" value="@Model.Serie[i].Kg" name="Serie[@i].Kg" placeholder="Kg" class="form-control seria-kg" min="1"/>
                            </div>
                            <div class="seryjka">
                                <input type="number" value="@Model.Serie[i].Powtorzenia" name="Serie[@i].Powtorzenia" placeholder="Powtórzenia" class="form-control seria-powtorzenia" min="1" />
                            </div>
                            <div class="seryjka">
                                <button type="button" class="btn btn-danger remove-seria" onclick="deleting(this)">Usuń</button>
                            </div>
                        </div>
                    }
                }
            </div>
            <button type="button" id="addSeria" class="btn btn-primary mt-3">Dodaj serię</button>
            <button type="submit" class="btn btn-success mt-3">Zapisz Trening</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/form.js"></script>
<script src="~/js/addserie.js"></script>
<script src="~/js/editdelete.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
