@model IEnumerable<AplikacjaTrenowania.Models.Trening>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
        </tr>
    </thead>
    <tbody>
@if (Model != null)
{
    @foreach(var data in ViewBag.Daty)
    {
        <tr class= "rozwijanie-przycisk-wiersz">
            <td>
                <button class="rozwijanie-przycisk">+</button>@data
            </td>
        </tr>
        <tr class="hidden">
            <th>
                @Html.DisplayNameFor(model => model.Godzina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RodzajTreningu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WybierzCwiczenie)
            </th>
        </tr>
        @foreach (var item in Model.Where(x => x.Data == data))
        {
            <tr class="hidden">
                <td>
                    @Html.DisplayFor(modelItem => item.Godzina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RodzajTreningu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WybierzCwiczenie)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdTreningu">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdTreningu">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdTreningu">Delete</a>
                </td>
            </tr>
        }
    }       
}
    </tbody>
</table>
@section Scripts {
    <script>
    document.querySelectorAll(".rozwijanie-przycisk").forEach(button => {
        button.addEventListener("click", function () {
            let nextRow = this.closest("tr").nextElementSibling;
            while (nextRow && !nextRow.classList.contains("rozwijanie-przycisk-wiersz")) {
                if (nextRow.classList.contains("hidden")) {
                    nextRow.classList.remove("hidden");
                    // nextRow.classList.add("visible");
                } else {
                    // nextRow.classList.remove("visible");
                    nextRow.classList.add("hidden");
                }
                nextRow = nextRow.nextElementSibling; 
            }
            this.textContent = this.textContent === "+" ? "-" : "+";
        });
    });
    </script>
}
