@model IEnumerable<AplikacjaTrenowania.Models.Trening>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
        </tr>
    </thead>
    <tbody>
@if (Model != null)
{
    @foreach(var data in ViewBag.Daty)
    {
        <tr class= "rozwijanie-przycisk-wiersz">
            <td>
                <button class="rozwijanie-przycisk">+</button>@data
            </td>
        </tr>
        <tr class="hidden">
            <th>
                @Html.DisplayNameFor(model => model.Godzina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RodzajTreningu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WybierzCwiczenie)
            </th>
        </tr>
        @foreach (var item in Model.Where(x => x.Data == data))
        {
            <tr class="hidden">
                <td>
                    @Html.DisplayFor(modelItem => item.Godzina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RodzajTreningu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WybierzCwiczenie)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdTreningu">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdTreningu">Details</a> |
                    <button onclick="deleteWorkout(@item.IdTreningu, this)">Delete</button>
                </td>
            </tr>
        }
    }       
}
    </tbody>
</table>
@section Scripts {
    <script src="~/js/expandingist.js"></script>
    <script src="~/js/deleteworkout.js"></script>
}
